.header {
  padding: 1px 1px 1px 100px;
  color: white;
  background-color: #daad86;
  display: flex;
}
/* #bc986a */

.content {
  border: #daad86 solid 5px;
  border-radius: 10px;
  width: 60%;
  margin: auto;
}

.chart {
  width: 600px;
  height: 300px;
  margin: auto;
}

#chartDrop {
  width: 25%;
}

.chartDropDiv {
  text-align: center;
}
