.header {
  padding: 1px 1px 1px 100px;
  color: white;
  background-color: #daad86;
  display: flex;
}
/* #bc986a */

.content {
  border: #daad86 solid 5px;
  border-radius: 10px;
  width: 60%;
  margin: auto;
}

.chart {
  width: 100%;
  height: 100%;
  margin: auto;
}

@media (max-width: 528px) {
  .chart {
    width: 300px;
    height: 150px;
  }

  .content {
    width: 100%;
  }
}

#chartDrop {
  width: 25%;
}

.chartDropDiv {
  text-align: center;
}

.chartBtns {
  background: #daad86;
  color: white;
  border: #bc986a 1px solid;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 2px 4px 2px 4px;
}

#chartBtns:hover {
  background: #bc986a;
}
